body {
  padding: 50px;
  background-color: #ddd;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 72px;
  color: #666;
  text-shadow: 5px 6px #ccc;
  margin-bottom: 0px;  
}
#contents {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 410px;
}

#charts {
  width: 360px;
  height: 120px;
  text-align: center;
  border: 1px solid #aaa;
  background-color: white;
  padding: 20px;
  margin: 12px;
  box-shadow: 3px 3px 5px 6px #ccc;
}
#note {
  color: #666;
}

#Producers {
  float: left;
}
#Consumers {
  float: left;
}
#Messages {
  float: left
}